<footer>
    <% if(listTitle === "Today"){ %>
        to create a custom list add your list name to the route after /
        <% } %>
            <br><br> developed by rishi
</footer>
</body>

</html>